@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  align-items: center;
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  width: 100v;
  margin-top: -50px;
}


.jobs-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.containerA {
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1518893494013-481c1d8ed3fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8am9icyUyMGZpbmRlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  /* background-repeat: no-repeat; */
  text-align: center;
  /* padding-top:200px; */
  width: 300px;
  margin-bottom: 68px;
}
.containerA h1 {
  color: white;
  display: inline-block;
  font-weight: bolder;
  font-size: 24px;
}

.containerB {
  background: #4FAA83;
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
}
.containerB h1:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 600;
}
.containerB .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.containerB input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}
.containerB input,
.containerB label {
  color: rgba(0, 0, 0, 0.8);
}
.containerB header {
  padding: 40px;
}
.containerB label,
.containerB input,
.containerB .pets-photo {
  width: 176px;
}
.containerB .pets-photo {
  align-items: center;
  display: grid;
  grid-template-areas: ". .";
}
.containerB .pets-photo button {
  border: none;
  border-radius: 50%;
  height: 38px;
  margin-right: 10px;
  outline: none;
  width: 38px;
}
.containerB .pets-photo button i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
.containerB .jobs-requirements .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.containerB footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
}
.containerB footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 100px;
  border-radius: 19px;
  font-family: "Montserrat", sans-serif;
}
.containerB footer #back {
  background: #fff;
  transition: 0.2s all ease-in-out;
}
.containerB footer #back:hover {
  background: #171a2b;
  color: white;
}
.containerB footer #post {
  background: #4FAA83;
  border: 1px solid transparent;
  color: #fff;
}
.containerB footer #post:hover {
  background: #171a2b;
}
@media (max-width: 740px) {
    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .jobs-container {
      display: block;
      width: 100%;
    }
    .containerA {
      width: 100%;
      height: 30%;
      display: none;
    }
    .containerB {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .containerB .set {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

.jobs-title label,
.jobs-location label,
.jobs-deadline label,
.jobs-requirements label {
  display: block;
  margin-bottom: 5px;
}

.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
}

.radio-container input {
  width: 100%;
}

.radio-container input[type="radio"]:checked + label {
  background: #f7b1ab;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
